<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <body>
    <div class="signup-holder">
      <form action="/user/register" method="post">
        <input type="email" name="email" placeholder="email" />
        <input type="password" name="password" placeholder="password" />
        <button type="submit">Register</button>
      </form>
      <a
        href="https://pouch-test.auth.eu-west-1.amazoncognito.com/oauth2/authorize?redirect_uri=http://localhost:3000/post-authentication&response_type=code&client_id=20nd7iea4it6cp8eiki4d0r2er&identity_provider=Facebook&scope=aws.cognito.signin.user.admin email openid profile"
      >
        Sign up with Facebook
      </a>
      <a
        href="https://pouch-test.auth.eu-west-1.amazoncognito.com/oauth2/authorize?redirect_uri=http://localhost:3000/post-authentication&response_type=code&client_id=20nd7iea4it6cp8eiki4d0r2er&identity_provider=Google&scope=aws.cognito.signin.user.admin email openid profile"
      >
        Sign up with Google
      </a>
    </div>
  </body>
</html>
